.log{

}
.logo  img{
    width: 25%;
    height: 20%;
    border-radius: 50%;
}
.searchbarinput{
    color: black;
}
@media (max-width: 420px) {
    .logo  img{
        width: 20%;
        height: 20%;
        border-radius: 50%;
    }
}